.button {

    background-color: black;
    box-sizing: border-box;
    border: none;
    color: $darkgrey;
    cursor: pointer;
    font-family: Klavika, sans-serif;
    font-size: 17px;
    height:30px;
    .fa  {
        margin-right: 10px;
        
    transition: all 0.7s ease-in-out;
    }
    &:hover {
        color: white;
      
        .fa-random {
            color: purple;
        }
        
        .fa-undo {
            color: red;
        }
        
        .fa-power-off {
            color: green;
        }
    }
}