.puzzle-section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    padding-top:30px;
    width: 410px;

    .puzzle-container {
        border: 5px solid $darkgrey;
        height: 400px;
        justify-content: center;
        position: relative;
        width: 400px;
        .puzzle-background {
            box-sizing: border-box;
            background-image: url('../assets/monks.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            opacity: 0.4;
            width:100%;
            z-index: 0;
        }
        .puzzle {
            box-shadow: inset 0px 0px 52px 20px rgba(0,0,0,0.73);
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 10;

            .puzzle-piece {
                background-image: url('../assets/monks.jpg');
                background-size: 400px;

                box-sizing:border-box;
                color: transparent;
                font-size: 1px;
                height: 50%;
                position: absolute;
                transition: all 0.5s ease-in;
                width: 50%;
                
            }
        }
    }
    
    .puzzle-menu {
        align-items: center;
        background-color: black;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding:15px;
        width:100%;
    }
    
}

#piece-1 {
    top: 0;
    left: 200px;
    background-position: 0 0; 
}
#piece-2 {
    background-position: 200px 0;
    top: 200px;
    left: 0;   
} 
#piece-3 {
    background-position: 0 200px;
    top: 0;
    left: 0; 
}
