.puzzle-section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top:30px;
    width: 100%;
    .puzzle-container {
        border: 5px solid $darkgrey;
        height: 400px;
        justify-content: center;
        position: relative;
        width: 400px;
        .puzzle-background {
            box-sizing: border-box;
            background-image: url('../assets/monks.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            opacity: 0.4;
            width:100%;
        }
        .puzzle {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            left: 0;
            height: 100%;
            position: absolute;
            top: 0;
            width: 100%;

            .puzzle-piece {
                box-sizing:border-box;
                position: absolute;
                width: 50%;
                height: 50%;
            }
        }
    }
}

#piece-1 {
    top: 0;
    left: 0;
    background-color: red;
}


#piece-2 {
    
    top: 0px;
    left: 200px;
    background-color: blue;
}
#piece-3 {
    
    top: 200px;
    left: 0;
    background-color: green;
}