@charset "UTF-8";
@font-face {
  font-family: "Klavika";
  src: url("../assets/font/klavika-light-webfont.woff");
  font-weight: 100;
}
@font-face {
  font-family: "Klavika";
  src: url("../assets/font/klavika-bold-webfont.woff");
  font-weight: bold;
}
@font-face {
  font-family: "Klavika";
  src: url("../assets/font/klavika-medium-webfont.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Klavika";
  src: url("../assets/font/klavika-regular-webfont.woff");
  font-weight: normal;
}
.button {
  background-color: black;
  box-sizing: border-box;
  border: none;
  color: #272727;
  cursor: pointer;
  font-family: Klavika, sans-serif;
  font-size: 17px;
  height: 30px;
}
.button .fa {
  margin-right: 10px;
  transition: all 0.7s ease-in-out;
}
.button:hover {
  color: white;
}
.button:hover .fa-random {
  color: purple;
}
.button:hover .fa-undo {
  color: red;
}
.button:hover .fa-power-off {
  color: green;
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    color: #fdfdfd;
  }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    color: #fdfdfd;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    color: #272727;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    color: #fdfdfd;
  }
  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    color: #fdfdfd;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    color: #272727;
  }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fade-out {
  -webkit-animation: fade-out 1.5s ease-out both;
  animation: fade-out 1.5s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.fade-in {
  -webkit-animation: fade-in 1.5s ease-out both;
  animation: fade-in 1.5s ease-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    z-index: 1000;
  }
}
body {
  color: #1a1a1a;
  font-family: Klavika, sans-serif;
  margin: 0;
  width: 100%;
}
body h1, body h2, body h3, body h4 ´ {
  text-transform: uppercase;
}

.main {
  align-items: center;
  background-color: #1a1a1a;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 900px;
  padding: 30px;
  width: 100%;
}
.main header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.main header div {
  overflow: hidden;
}
.main header h1 {
  font-size: 60px;
  margin: 15px;
}

.logo {
  fill: white;
  width: 100px;
  height: 100px;
  filter: invert(97%) sepia(0%) saturate(7487%) hue-rotate(239deg) brightness(115%) contrast(95%);
}

.puzzle-section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 410px;
}
.puzzle-section .puzzle-container {
  border: 5px solid black;
  height: 400px;
  justify-content: center;
  position: relative;
  width: 400px;
}
.puzzle-section .puzzle-container .puzzle-background {
  box-sizing: border-box;
  background-image: url("../assets/monks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.4;
  width: 100%;
  z-index: 0;
}
.puzzle-section .puzzle-container .puzzle {
  box-shadow: inset 0px 0px 52px 20px rgba(0, 0, 0, 0.73);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
.puzzle-section .puzzle-container .puzzle .puzzle-piece {
  background-image: url("../assets/monks.jpg");
  background-size: 400px;
  box-sizing: border-box;
  color: transparent;
  font-size: 1px;
  height: 50%;
  position: absolute;
  transition: all 0.5s ease-in;
  width: 50%;
}
.puzzle-section .puzzle-menu {
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}

#piece-1 {
  top: 0;
  left: 200px;
  background-position: 0 0;
}

#piece-2 {
  background-position: 200px 0;
  top: 200px;
  left: 0;
}

#piece-3 {
  background-position: 0 200px;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
